
@font-face {
    font-family: 'CascadiaCode';
    src: url('../font/CascadiaCode.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../font/CascadiaCode.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../font/CascadiaCode.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../font/CascadiaCode.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../font/CascadiaCode.ttf') format('svg');               /* Legacy iOS */
}

@font-face {
    font-family: 'CascadiaCodeSB';
    src: url('../font/CascadiaCode-SemiBold.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../font/CascadiaCode-SemiBold.ttf') format('woff2'),             /* Super Modern Browsers */
         url('../font/CascadiaCode-SemiBold.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('../font/CascadiaCode-SemiBold.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('../font/CascadiaCode-SemiBold.ttf') format('svg');               /* Legacy iOS */
}

* {
    box-sizing: border-box;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "CascadiaCode", sans-serif;
    background-color: #77a6b6;
    color: #333;
    font-size: 16px;
}

.hide {
    /* '!important' is to make sure that when we add the class using JS, it takes precendence */
    display: none !important;
}

.view-repos {
    margin-top: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    align-self: center;
    width: 300px;
}

.fa-github-alt {
    color: #eabda8;
}


h1 {
    width: 90%;
    padding: 1em 0.5em;
    margin: 0;
    font-size: 3em;
    text-align: center;
    font-family: "CascadiaCodeSB", sans-serif;
    background-color: #4d7298;
    color: #d0efb1;
    text-transform: none;
    border: 4px solid #f7f3e3;
border-radius: 20px;

}


.github-img {
    width: 45px;
    margin-right: 8px;
}

h3 {
    width: auto;
    text-align: center;
    color: #f7f3e3;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin-top: 50px;
    max-width: 1200px;
}

.intro,
.repos {
    width: 100%;
}

.user-info {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #43423d;
    color: #f7f3e3;
    width: 90%;
    font-size: 1em;
    padding-bottom: 0;
    padding: 0 32px;   
    border: 4px solid #f7f3e3; 
    border-radius: 20px;
margin: 10px;
}

.user-info figure {
    max-width: 200px;
    margin: 10px;
}

.overview {
    display: flex;
justify-content: center;

}

.user-info img {
    border-radius: 100%;
    max-width: 150%;
    height: auto;
    border: 4px solid #f7f3e3;

}

.user-info div {
    margin-top: 2em;
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    height: auto;
}

.user-info p {
    width: 90%;
    margin: 0;
    size: auto;
}

.filter-repos {
    background: #43423d;
    border-radius: 10px;
    color: #f7f3e3;
    text-align: center;
    width: 300px;
    margin-top: 1em;
    padding: 1em;
    border: 4px solid #f7f3e3;
}

.repo-data {
    background-color: #4d7298;
    padding: 2em;
    padding-bottom: 1em;
    border: 4px solid #f7f3e3;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4d7298;
    width: 90%;
    margin-top: 0;
    padding: 1em;
    border: 4px solid #f7f3e3;
    border-radius: 20px;
}


.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {

    width: 90%;
    margin: 1em 0;
    border: 4px solid #f7f3e3;
    border-radius: 10px;
    background: #77a6b6;
    align-items:  center;
    justify-content: center;
    padding: 0.5em;
}

.repo-list li:hover {
    background:#90c8dc;
}

.repo-list h3 {
    text-align: center;

}

.repo-list h3:hover {
    cursor: pointer;
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

section.repo-data {
    color: #f7f3e3;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 0;
    margin:0;
    border-radius:20px;
}

.repo-data h3 {
    text-align: left;
}

.repo-data .visit {
    text-decoration: none;
    max-width: 225px;
    color: #fff;
    padding: 0.75em;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    background-color: #61988e;
    border: 1px solid #f7f3e3;
}

.repo-data .visit:hover {
    background-color: #2f2550;
    border: 1px solid #ccc;
}

.buttons {
    padding-bottom: 20px;
}
.button-container {
display: inline-flex;
justify-content: center;
    width: 100%;
    background-color: #77a6b6;
    margin-top: 10px;
    padding-left: 2em;
    padding-bottom: 2em;
}

.view-repos {
    max-width: 200px;
    margin-top: 0;
}


@media (min-width: 700px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: space-between;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 700px) {
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        width: 30%;
    }
}

strong {
    color: #eabda8;
}